<% if Redmine::Plugin.installed?("easy_baseline") %>
  <h3>
    <%= l("scmm_connected_branches") %>
  </h3>
<% else %>
  <p>
  <div class="contextual">
    <%= link_to l(:button_add), new_issue_scmm_issue_connected_branch_path(@issue) %>
  </div>
  <strong>
    <%= l("scmm_connected_branches") %>
  </strong>
  </p>
<% end %>
