<%= form_for [@issue, @branch_connection] do |form| %>
  <p>
    <%= form.label l("scmm_branch_name") %>
    <%= form.text_field :branch_name %>
  </p>
  <%= form.submit l(:button_create) %>
<% end %>